<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simon.androidadvanced">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--入口activity的action和category-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lifecycle.LifeCycleAndLaunchModeActivity" />
        <activity
            android:name=".lifecycle.TransparentActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".lifecycle.ConfigChangedActivity" />
        <activity
            android:name=".lifecycle.ConfigChangedNotRebootActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".lifecycle.LaunchModeActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.simon.androidadvanced1"/>
        <activity android:name=".lifecycle.IntentFilterActivity" >
            <intent-filter>
                <action android:name="com.action.only"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <category android:name="com.category.only"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:mimeType="text/html"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
            <intent-filter>
                <action android:name="com.action.both_3"/>
                <category android:name="com.category.both_3"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>